    body {
        padding: 5vh 0 0 ;
        margin: 0;
        display: block;
        /*justify-content: space-between;*/
        gap: 12px;
    }

    header {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 1rem;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #nav-petshop {
        background-color: #ffffff;
        color: rgb(3, 3, 3);
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 5rem;
    }

    #list-products{
        text-align: center; 
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #list-products li a {
        padding: 15px;
        border-bottom: 1px solid #444;
        cursor: pointer;
        color: black;
        text-decoration: none;
        display: block;
    }

    #list-products li a:hover {
        background-color: rgb(204, 255, 204); 
        color: green;
    }

    #main-container{
        flex: 1;
        position: relative;
        overflow: auto;
    }

    /* Contenido principal */
    div {
        margin-left: 250px; /* Espacio para la barra lateral */
        padding: 5rem 1rem;
    }


    .img-product{
        width: 200px;
    /* max-width: 200px; /* Ajusta el tamaño máximo de la imagen */
        height: 200px;
        margin-bottom: 10px;

    }

    .container-product {
        flex: 1 1 100%; /* Cada tarjeta ocupa 100% del ancho disponible */
        max-width: 250px; /* Limita el ancho máximo de las tarjetas */
        margin: 0 auto; /* Centra la tarjeta */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #ddedce;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .text-product {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
    }

    .container-product:hover {
        transform: scale(1.1);
    }

    .container-productos {
        display: flex;
        flex-wrap: wrap; /* Permite que las tarjetas se ajusten automáticamente */
        gap: 20px; /* Espaciado uniforme entre tarjetas */
        justify-content: center; /* Centra las tarjetas horizontalmente */
        padding: 5vh;
        margin: 0 auto; /* Centra el contenedor en la página */
    }

    /* Estilo para el botón de compra */
    .container-product .buy-btn {
        display: none; /* Oculto por defecto */
        position: absolute;
        bottom: 65px;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

    .container-product:hover .buy-btn {
        display: block; 
    }

    .container-product:hover .buy-btn:hover {
        background-color: #205223;
    }

    .container-product:hover .img-product {
        /*Desenfoca*/
        filter: blur(2px); 
    }

    .container-details{
        margin: 0;
        padding: 0;
        border: 0;
        
    }

    .text-product {
        margin: 0;
        padding: 0;
    }

    .price-product{
        margin: 0;
    }

    h1{
        height: 0;
        width: 0;
        text-align: center;
        flex-wrap: wrap;
    }

    .container{
        margin: 0;
        width: auto;
        height: auto;
        /*padding: 1hv 0 0;*/
    }


    /* ~TABLA DETALLES ~*/
    .purchase-container {
        background-color: rgb(213, 235, 234);
        padding: 20px;
        /*border-radius: 10px;*/
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        /*width: 1000%;*/
        
        overflow-x:scroll;
        text-align: center;
        border: 0;
        margin: 15px;
    }
    
    .purchase-container h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
        color: #1a4c1c;
    }
    
    .purchase-table {
        width: 100%;
        max-width: 800px;
        border-collapse: collapse;
        margin: 0 auto;
    }
    
    .purchase-table th, .purchase-table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        
        flex-wrap: wrap;
    }
    
    .purchase-table th {
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
    
    .purchase-table tbody tr:hover {
        background-color: #f2f2f2;
    }
    
    .purchase-table tfoot {
        background-color: #ddedce;
    }
    
    .purchase-table .total-label {
        font-weight: bold;
        text-align: right;
        padding-right: 20px;
    }
    
    .purchase-table .total-amount {
        font-weight: bold;
        color: #4CAF50;
        text-align: center;
    }

    .pay-btn {
        background-color: #4CAF50;
        font-size: 1.1rem;
        padding: 10px 20px;
        margin: 0;
        border: none;
        border-radius: 1cqw;
        cursor: pointer;
        transition: background-color 0.3s ease;
        a{
            color: white;
            text-decoration: none;
        }
    }

    .pay-btn:hover {
        background-color: #205223;
    }


    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        /*width: 250px;*/
    }

#pay_ {
    background-color: #28a745; 
    color: white;
}

#pay_:hover {
    background-color: #218838;
}

#cancel-pay_ {
    background-color: #dc3545;
    color: white;
}

#cancel-pay_:hover {
    background-color: #c82333;
}

#buttons-cancel-pay{
    display: flex;
    justify-content:center;
    gap: 15px;
}



    /* ASIDE DE COMPRA*/
    aside{
        position: fixed;  
        left: 75px;         
        bottom: -60px;       
        width: 140px;     
        height: auto;     
        margin: 20px;
        padding: 10px;
        z-index: 1;
        align-items: center;
    }
    
    .aside-image {
        width: 200px; 
        height: auto; 
        right: 0;
        margin: 0;
    }

    .cart-info {
        background-color: #f8f8f8c4;
        padding: 20px;
        width: 130px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 70px;
        text-align: center;
        margin-bottom: 0;
    }

    .cart-text {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 15px;
    }

    /* LOGIN EMERGENTE*/

.login_ {
    /*lo ocultamos*/
    display: none;
    position: fixed;
    /*super capa*/
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.login_:target {
    /*con el display flex lo hacemos visible sisi*/
    display: flex; 
}

.login-content {
    background-color: #ffffff;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    flex-wrap: wrap;
    position: fixed;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    min-width: 15%;
    min-height: 15%;
}

#login-form label {
    margin:2px;
}

#login-form input {
    border-radius: 10px;
    border-bottom: 1px;
    outline: none;
    padding-top: 20px;
}


#login-form button {
    width: auto;
    margin: 1vh;
    border: none;
    border-radius: 5px;
    background-color: #124b2eee;
    color: white;
    cursor: pointer;
    a{
        text-decoration: none;
        color:white;
    }
}

#login-form button:hover {
    background-color: #00b371d9;
    
}

#user_image{
    width: 100px;
    height: auto;
    border-radius: 50px;
}


