body {
    padding: 5vh 0 0 ;
    margin: 0;
    display: block;
    /*justify-content: space-between;*/
    font-family: Arial, sans-serif;
    gap: 12px;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#nav-petshop {
    /*background-color: #ffffffa9;*/
    background-color: rgb(223, 206, 184);
    /*background-color: rgb(220, 230, 240);*/
    /*background-color: rgb(230, 245, 234);*/
    /*background-color: rgb(240, 240, 240);*/
    color: rgb(3, 3, 3);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5rem;
}

#nav-principal {
    /*padding: 1rem;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(250, 243, 234);
    height: 60px;
}
#nav-principal a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 16px;
    margin: 10px 20px 0px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
}
#nav-principal a:hover {
    border-radius: 30px;
    background-color:  rgb(219, 186, 141);
    color: white;
}


#list-products{
    text-align: center; 
    list-style: none;
    padding: 0;
    margin: 0;
}

#list-products li a {
    padding: 15px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: block;
}

#list-products li a:hover {
    background-color: rgb(202, 188, 164); 
    color: rgb(255, 255, 255);
    /*suavidad */
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 5px; 
}

#main-container{
    flex: 1;
    position: relative;
    overflow: auto;
    padding: 0;
    padding-bottom: 15vh;
}

/* Contenido principal */
div {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 5rem 1rem;
}


.img-product{
    width: 200px;
/* max-width: 200px; /* Ajusta el tama침o m치ximo de la imagen */
    height: 200px;
    margin-bottom: 10px;

}

.container-product {
    flex: 1 1 100%; /* Cada tarjeta ocupa 100% del ancho disponible */
    max-width: 250px; /* Limita el ancho m치ximo de las tarjetas */
    margin: 0 auto; /* Centra la tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.text-product {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.container-product:hover {
    transform: scale(1.1);
}

.container-productos {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 5vh;
    margin: 0 auto; 
}

/* Estilo para el bot칩n de compra */
.container-product .buy-btn {
    display: none; /* Oculto por defecto */
    position: absolute;
    bottom: 65px;
    background-color: rgb(197, 185, 170);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.container-product:hover .buy-btn {
    display: block; 
}

.container-product:hover .buy-btn:hover {
    background-color: rgb(202, 188, 164); 
        color: rgb(255, 255, 255);
    /*suavidad */
    transition: background-color 0.3s ease, color 0.3s ease;    
}

.container-product:hover .img-product {
    /*Desenfoca*/
    filter: blur(2px); 
}

.container-details{
    margin: 0;
    padding: 0;
    border: 0;
    
}

.text-product {
    margin: 0;
    padding: 0;
}

.price-product{
    margin: 0;
}

h1{
    height: 0;
    width: 0;
    text-align: center;
    flex-wrap: wrap;
}

.container{
    margin: 0;
    width: auto;
    height: auto;
    /*padding: 1hv 0 0;*/
}


/* ~TABLA DETALLES ~*/
.purchase-container {
background-color: rgb(245, 245, 250);
padding: 20px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
overflow-x: scroll;
text-align: center;
border: 0;
margin: 15px;
}

.purchase-container h2 {
font-size: 1.8rem;
margin-bottom: 20px;
color: rgb(85, 85, 122);
}

.purchase-table {
width: 100%;
max-width: 800px;
border-collapse: collapse;
margin: 0 auto;
}

.purchase-table th, .purchase-table td {
padding: 10px;
text-align: left;
border-bottom: 1px solid rgb(210, 210, 230);
}

.purchase-table th {
background-color: rgb(116, 125, 174);
color: white;
text-align: center;
}

.purchase-table tbody tr:hover {
background-color: rgb(230, 230, 245);
}

.purchase-table tfoot {
background-color: rgb(230, 239, 219);
}

.purchase-table .total-label {
font-weight: bold;
text-align: right;
padding-right: 20px;
}

.purchase-table .total-amount {
font-weight: bold;
color: rgb(116, 125, 174);
text-align: center;
}



button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    /*width: 250px;*/
    a{
        text-decoration: none;
        color: white;
    }
}

/* ~Pagar Tabla~*/
#pay_ {
background-color: #28a745; 
}

#pay_:hover {
background-color: #34c555; 
a{
    color: rgb(255, 255, 255);
/*suavidad */
transition: background-color 0.3s ease, color 0.3s ease;    
}
}

#cancel-pay_ {
background-color: #dc3545;
color: white;
}

#cancel-pay_:hover {
background-color: #c82333;
}

#buttons-cancel-pay{
display: flex;
justify-content:center;
gap: 15px;
}



/* ASIDE DE COMPRA*/
aside{
    position: fixed;  
    left: 75px;         
    bottom: -60px;       
    width: 140px;     
    height: auto;     
    margin: 20px;
    padding: 10px;
    z-index: 1;
    align-items: center;
}

.aside-image {
    width: 200px; 
    height: auto; 
    right: 0;
    margin: 0;
}

.cart-info {
    background-color: #f8f8f8c4;
    padding: 20px;
    width: 130px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    text-align: center;
    margin-bottom: 0;
}

.cart-text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}

/* ~Boton de Pagar de el aside~*/
.pay-btn {
    background-color: rgb(197, 185, 170);
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 0;
    border: none;
    border-radius: 1cqw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    a{
        color: black;
        text-decoration: none;
    }
}

.pay-btn:hover {
    background-color: rgb(202, 188, 164); 
    a{
        color: rgb(255, 255, 255);
    /*suavidad */
    transition: background-color 0.3s ease, color 0.3s ease;    
    }
}


/* LOGIN EMERGENTE*/

.login_ {
/*lo ocultamos*/
display: none;
position: fixed;
/*super capa*/
z-index: 2;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.login_:target {
/*con el display flex lo hacemos visible sisi*/
display: flex; 
}

.login-content {
background-color: #ffffff;
padding: 2%;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 90%;
max-width: 400px;
text-align: center;
flex-wrap: wrap;
position: fixed;
}

#login-form {
display: flex;
flex-direction: column;
gap: 1.5em;
min-width: 15%;
min-height: 15%;
}

#login-form label {
margin:2px;
}

#login-form input {
border-radius: 10px;
border-bottom: 1px;
outline: none;
padding-top: 20px;
}


#login-form button {
width: auto;
margin: 1vh;
border: none;
border-radius: 5px;
background-color: #124b2eee;
color: white;
cursor: pointer;
a{
    text-decoration: none;
    color:white;
}
}

#login-form button:hover {
background-color: #00b371d9;

}

#user_image{
width: 100px;
height: auto;
border-radius: 50px;
}


/* ~Footer~*/

footer {
position: relative;
background-color: rgb(250, 243, 234);
padding: 20px 0;
text-align: center;
border-top: 1px solid #ddd;
width: 100%;
}

.footer-content {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.footer-content p {
margin: 0;
color: #333;
}

.social-media {
margin-top: 10px;
padding: 0;
/*width: 100%;*/
}

.social-media a {
color: #333;
margin: 0 10px;
text-decoration: none;
font-size: 20px;
transition: color 0.3s ease;
}

.social-media a:hover {
color: #4ac69c;
}
